*{
  margin: 0;
  padding: 0;
}
.nav_container{
  width: 100vw;
  height: 7vh;
  flex-direction: row;
  background-color: black;
  color: white;
  border: solid 2px red;
  
}
.logo{
  border: solid 2px seashell;
}
.ds_flex{
  display: flex;
}
.flex_cntr{
  align-items: center;
  justify-content: space-between;
}
.nav_home{
  border: solid 2px blue;
  gap: 25px;
  margin-left: 60%;
  /* background-color: red; */
}
.nav_home > span{
  float: right;
}
a{
  text-decoration: none;
  color: white;
}
h2{
  color: white;
}
.home{
  background-size: cover;
  justify-content: center;
  background-image: url("https://wallpaperaccess.com/full/1919229.jpg");
  /* height: 90vh; */
  /* width: 100vw; */
  /* background-repeat: no-repeat; */
  height: 93vh;
}
.home > p{
  
  color: white;
  position: relative;
  top: 80vh;
}

.home > p > span{
  color: red;
}
.main{
  width: 100vw;
  height: 100vh;
}
.main_home{
  width:"100vw";
  height: "93vh";
}